.footerBottom {
  border-top: 2px solid var(--secondary-color);
}

.bottomwrpr {
  padding: 20px 0;
}

.footerLinks {
  display: flex;
  gap: 10px;
}

.footerLinks > a {
  height: 60px;
  width: 60px;
  border: 2px solid var(--secondary-color);
  border-radius: 50%;
  padding: 10px;
  display: inline-block;
}

.footerLinks > a > span {
  height: 100%;
  width: 100%;
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ee3f2c1e;
  backdrop-filter: blur(40px);
  color: var(--primary-color);
  border-radius: 50%;
}
