@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #ee3f2c;
  --secondary-color: #232323;
  --tertiary-color: #232323;
  --animation-duration: 20s;
  --services-totalItems: 5;
}

body,
html {
  overflow-x: hidden;
  font-family: "Space Grotesk", sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.body {
  min-height: 100vh;
  position: relative;
  z-index: 10;
}

.title1 {
  font-size: 120px;
}

.title2 {
  font-size: 24px;
  /* color:whtie; */
}

#root {
  background: #000;
  color: white;
}

.cursor {
  position: fixed;
  top: -5px;
  left: -5px;
  width: 15px;
  height: 15px;
  background-color: #f1f1f1;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  mix-blend-mode: difference;
}

.container {
  max-width: 1870px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.col-25 {
  width: 25%;
  padding: 0 15px;
}

.col-50 {
  width: 50%;
  padding: 0 15px;
}

.overline {
  position: fixed;
  height: 100%;
  width: 100%;
  inset: 0;
  z-index: 0;
}

.overlay-line {
  position: absolute;
  top: 0;
  height: 100%;
  width: 0.5px;
  background: rgba(128, 128, 128, 0.1);
  left: 50%;
  /* opacity: 0.4; */
}

.second.overlay-line {
  left: 25% !important;
}

.third.overlay-line {
  left: 75% !important;
}

/* 
================
Navbar 
================
*/

.header-section {
  padding: 15px 0;
  border-bottom: 1px solid rgb(184, 184, 184, 0.1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 11;
}

.navbar-toggler {
  background: transparent;
  border: none;
  cursor: pointer;
  display: none;
}

.navbar-toggler > span {
  display: inline-block;
  height: 1px;
  width: 30px;
  background: white;
  position: relative;
}

.navbar-toggler > span::after {
  content: "";
  height: 1px;
  width: 30px;
  background: white;
  position: absolute;
  top: 6px;
  left: 0;
  right: 0;
}

.navbar-toggler > span::before {
  content: "";
  height: 1px;
  width: 30px;
  background: white;
  position: absolute;
  bottom: 6px;
  left: 0;
  right: 0;
}

.navbar-collapsed,
.navbar-collapsed > ul,
nav {
  display: flex;
  align-items: center;
}

.navbar-collapsed {
  flex-grow: 1;
}

.navbar-collapsed > ul {
  gap: 25px;
  margin-left: 45px;
}

.nav-logo {
  max-width: 111px;
}

.nav-logo > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nav-links,
.social-md-icon {
  color: white;
  font-size: 18px;
  transition: all 0.25s linear;
}

.nav-links.active {
  color: var(--primary-color);
}

.nav-links:hover,
.social-md-icon:hover {
  color: var(--primary-color);
}

.nav-btn {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 45px;
}

.social-md-icon {
  position: relative;
}

.nav-btn > .social-md-icon:first-child::after,
.nav-btn > .social-md-icon:nth-child(2)::after {
  content: "/";
  position: absolute;
  right: -25px;
  top: -2px;
  bottom: 0;
  font-size: 1.3rem;
}

/*
=================
Banner  Section
=================
*/

.banner-section {
  padding: 70px 0 160px;
  /* min-height: 100vh; */
  display: flex;
  justify-content: center;
  /* align-items: center; */
  position: relative;
  overflow: hidden;
}

.banner-row {
  align-items: start;
}

.banner-cntn {
  display: flex;
  gap: 30px;
  margin-top: 70px;
  margin-left: 50px;
}

.cntct-me {
  margin-left: 50px;
  margin-top: 135px;
  position: relative;
}

.cntct-me > span.job-desc {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-5%, -40%);
  height: fit-content;
  color: rgb(184, 184, 184, 0.5);
  font-size: 200px;
  font-weight: 700;
  mask-size: 100% 70%;
  mask-repeat: no-repeat;
  mask-image: linear-gradient(to bottom, black 0%, transparent 100%);
}
.cntct-me {
  font-size: 0.9rem;
  color: gray;
}

.cntct-me > div.title2 {
  color: white;
}
.banner-img {
  max-width: 500px;
  position: relative;
  z-index: 5;
  margin: 0 auto;
}

.banner-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-mask-image: linear-gradient(to bottom, black 0%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 0%, transparent 100%);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.text-glow {
  color: var(--primary-color);
  text-shadow: 0 0 1px var(--primary-color), 0 0 0px var(--primary-color),
    0 0 100px var(--primary-color), 0 0 10px var(--primary-color),
    0 0 1px var(--primary-color);
  transition: text-shadow 0.3s ease;
}

.curve {
  position: absolute;
  left: -40px;
  right: -40px;
  height: fit-content;
  background: var(--primary-color);
  padding: 44px;
  transform: rotate(358deg) translateY(-45px);
  filter: blur(35px);
  z-index: 9;
}

.auto-scroll {
  position: absolute;
  left: -40px;
  right: -40px;
  height: fit-content;
  background-color: var(--primary-color);
  transform: rotate(2deg) translateY(-45px);
  z-index: 10;
  height: 95px;
}

.services {
  display: flex;
  gap: 20px;
  flex-wrap: nowrap;
  padding: 20px;
  align-items: center;
  position: absolute;
  left: 100%;
  animation: slideRight linear infinite;
  animation-duration: var(--animation-duration);
  animation-delay: calc(
    var(--animation-duration) / var(--services-totalItems) *
      ((var(--services-totalItems) - var(--i)) * -1)
  );
}

@keyframes slideRight {
  to {
    left: -25%;
  }
}

.auto-scroll:hover > .services {
  animation-play-state: paused;
}

.services-icon {
  color: white;
  font-size: 42px;
}

.services-name > p {
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 700;
  text-wrap: nowrap;
}

.services-name > span {
  text-wrap: nowrap;
}

/* 
=================
What I Do Section
=================
*/

section.knw-abt-me,
#know-about {
  padding: 50px 0;
}

#know-about > div,
.knw-me-hdr {
  position: relative;
}

.shadow-text {
  text-align: center;
  font-size: clamp(2.375rem, 1.0577rem + 14.7436vw, 18.75rem);
  mask-size: 100% 100%;
  mask-repeat: repeat-y;
  mask-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 37%,
    rgba(0, 0, 0, 0) 82%
  );
  font-weight: 900;
  opacity: 0.2;
  text-transform: uppercase;
}

.knw-me {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 50rem;
  border: 1.5px solid var(--tertiary-color);
  color: var(--primary-color);
  text-shadow: 0 0 1px var(--primary-color), 0 0 0px var(--primary-color),
    0 0 100px var(--primary-color), 0 0 10px var(--primary-color),
    0 0 1px var(--primary-color);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 1);
}

.blur-text {
  font-size: clamp(3rem, 0.4423rem + 1.9231vw, 3.75rem);
}

/* 
==============
Circles Section
==============
*/

.circles {
  margin-top: 50px;
}

.circle {
  height: 170px;
  width: 170px;
  height: clamp(250px, 200px, 400px);
  width: clamp(250px, 200px, 400px);
  background: rgba(255, 255, 255, 0.05);
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(2px);
}

.circle-wrpr {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.circles > .circle-wrpr > .circle:nth-child(2),
.circles > .circle-wrpr > .circle:nth-child(3),
.circles > .circle-wrpr > .circle:last-child {
  margin-left: -30px;
}

.circles > .circle-wrpr:nth-child(2) {
  display: none;
}

.circle {
  transition: 0.5s linear !important;
}

.circle:hover {
  color: var(--primary-color);
  box-shadow: 1px 1px 20px var(--primary-color);
}

.circle:hover > h3 {
  text-shadow: 1px 1px 10px var(--primary-color);
}

.circle > h3 {
  font-size: 5rem;
}

@media screen and (max-width: 992px) {
  .title1 {
    font-size: 50px;
  }

  .col-50 {
    width: 100%;
  }

  /* 
  ==============
  Navbar Section
  ==============
  */

  .navbar-collapsed > ul {
    display: none;
  }

  .navbar-toggler {
    display: block;
    margin-left: 20px;
    margin-bottom: 6px;
  }

  /* 
  ==============
  Banner Section
  ==============
  */

  .banner-cntn {
    margin: 70px auto 0;
    width: fit-content;
  }

  .banner-img {
    max-width: 340px;
    margin: 40px auto 0;
  }

  .cntct-me {
    margin: 135px auto 0 !important;
    position: relative;
    width: fit-content;
  }

  .cntct-me > span.job-desc {
    transform: translate(-16%, -40%);
  }

  .blur-text {
    font-size: clamp(1rem, 0.4423rem + 1.9231vw, 3.75rem);
  }

  .services {
    left: 150%;
  }

  @keyframes slideRight {
    to {
      left: -80%;
    }
  }

  .knw-me {
    font-size: 9px;
  }
  .circle {
    height: 170px;
    width: 170px;
  }
  .circle > h3 {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 768px) {
  .circle-wrpr {
    flex-wrap: wrap;
  }
  .circle {
    width: 160px;
    height: 160px;
    /* animation: none; */
  }
  .circles > .circle-wrpr > .circle:nth-child(3),
  .circles > .circle-wrpr > .circle:nth-child(4) {
    display: none;
  }
  .circles > .circle-wrpr:nth-child(2) {
    display: flex;
    margin-top: 20px;
  }
}

@media screen and (max-width: 552px) {
  .title2 {
    font-size: 18px;
  }
  .nav-btn {
    display: none;
  }
  .banner-cntn {
    gap: 0px;
  }
  .services {
    left: 180%;
  }

  @keyframes slideRight {
    to {
      left: -140%;
    }
  }
}
