@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #ee3f2c;
  --secondary-color: #232323;
  --tertiary-color: #232323;
}

body,
html {
  overflow-x: hidden;
  font-family: "Space Grotesk", sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.body {
  min-height: 100vh;
  position: relative;
  z-index: 10;
}

.title1 {
  font-size: 7.639vw;
}

.title2 {
  font-size: 24px;
  /* color:whtie; */
}

#root {
  background: #000;
  color: white;
}

.cursor {
  position: fixed;
  top: -5px;
  left: -5px;
  width: 15px;
  height: 15px;
  background-color: #f1f1f1;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  mix-blend-mode: difference;
}

.container {
  max-width: 1870px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.col-50 {
  width: 50%;
  padding: 0 15px;
}

.overline {
  position: fixed;
  height: 100%;
  width: 100%;
  inset: 0;
  z-index: 0;
}

.overlay-line {
  position: absolute;
  top: 0;
  height: 100%;
  width: 0.5px;
  background: rgba(128, 128, 128, 0.1);
  left: 50%;
  /* opacity: 0.4; */
}

.second.overlay-line {
  left: 25% !important;
}

.third.overlay-line {
  left: 75% !important;
}

/* 
================
Navbar 
================
*/

.header-section {
  padding: 15px 0;
  border-bottom: 1px solid rgb(184, 184, 184, 0.1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 11;
}

.navbar-toggler {
  background: transparent;
  border: none;
  cursor: pointer;
  display: none;
}

.navbar-toggler > span {
  display: inline-block;
  height: 1px;
  width: 30px;
  background: white;
  position: relative;
}

.navbar-toggler > span::after {
  content: "";
  height: 1px;
  width: 30px;
  background: white;
  position: absolute;
  top: 6px;
  left: 0;
  right: 0;
}

.navbar-toggler > span::before {
  content: "";
  height: 1px;
  width: 30px;
  background: white;
  position: absolute;
  bottom: 6px;
  left: 0;
  right: 0;
}

.navbar-collapsed,
.navbar-collapsed > ul,
nav {
  display: flex;
  align-items: center;
}

.navbar-collapsed {
  flex-grow: 1;
}

.navbar-collapsed > ul {
  gap: 25px;
  margin-left: 45px;
}

.nav-logo {
  max-width: 111px;
}

.nav-logo > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nav-links,
.social-md-icon {
  color: white;
  font-size: 18px;
  transition: all 0.25s linear;
}

.nav-links.active {
  color: var(--primary-color);
}

.nav-links:hover,
.social-md-icon:hover {
  color: var(--primary-color);
}

.nav-btn {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 45px;
}

.social-md-icon {
  position: relative;
}

.nav-btn > .social-md-icon:first-child::after,
.nav-btn > .social-md-icon:nth-child(2)::after {
  content: "/";
  position: absolute;
  right: -25px;
  top: -2px;
  bottom: 0;
  font-size: 1.3rem;
}

/*
=================
Banner  Section
=================
*/

.banner-section {
  padding: 70px 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.banner-row {
  align-items: start;
}

.banner-cntn {
  display: flex;
  gap: 30px;
  margin-top: 70px;
  margin-left: 50px;
}

.cntct-me {
  margin-left: 50px;
  margin-top: 135px;
  position: relative;
}

.cntct-me > span.job-desc {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-5%, -40%);
  height: fit-content;
  color: rgb(184, 184, 184, 0.5);
  font-size: 200px;
  font-weight: 700;
  mask-size: 100% 70%;
  mask-repeat: no-repeat;
  mask-image: linear-gradient(to bottom, black 0%, transparent 100%);
}
.cntct-me {
  font-size: 0.9rem;
  color: gray;
}

.cntct-me > div.title2 {
  color: white;
}
.banner-img {
  max-width: 500px;
  position: relative;
  z-index: 5;
  margin: 0 auto;
}

.banner-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-mask-image: linear-gradient(to bottom, black 0%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 0%, transparent 100%);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.text-glow {
  color: var(--primary-color);
  text-shadow: 0 0 1px var(--primary-color), 0 0 0px var(--primary-color),
    0 0 100px var(--primary-color), 0 0 10px var(--primary-color),
    0 0 1px var(--primary-color);
  transition: text-shadow 0.3s ease;
}

.curve {
  position: absolute;
  left: -40px;
  right: -40px;
  height: fit-content;
  background: var(--primary-color);
  padding: 20px;
  transform: rotate(358deg) translateY(-45px);
  filter: blur(35px);
  z-index: 9;
}

@media screen and (max-width: 992px) {
  .title1 {
    font-size: 50px;
  }
  .col-50 {
    width: 100%;
  }

  /* 
  ==============
  Navbar Section
  ==============
  */

  .navbar-collapsed > ul {
    display: none;
  }
  .navbar-toggler {
    display: block;
    margin-left: 20px;
  }

  /* 
  ==============
  Banner Section
  ==============
  */

  .banner-cntn {
    margin: 70px auto 0;
    width: fit-content;
  }

  .banner-img {
    max-width: 340px;
    margin: 40px auto 0;
  }

  .cntct-me {
    margin: 135px auto 0 !important;
    /* margin-top: 135px; */
    position: relative;
    width: fit-content;
  }
  .cntct-me > span.job-desc {
    transform: translate(-16%, -40%);
  }
}

@media screen and (max-width: 552px) {
  .title2 {
    font-size: 18px;
  }
  .nav-btn {
    display: none;
  }
  .banner-cntn {
    gap: 0px;
  }
}
